.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 118px 0 64px 0;

  @include tablet {
    padding: 114px 0 100px 0;
    gap: 51px;
  }

  @include desktop {
    padding-top: 142px;
    flex-direction: row;
    max-width: 1128px;
    margin: 0 auto;
    gap: 26px;
  }
}

.contacts__wrapper {
  max-width: 266px;
  margin: 0 auto;

  @include tablet {
    max-width: 528px;
  }

  @include desktop {
    max-width: 550px;
    order: 1;
  }
}

.contacts__title {
  text-align: center;
  font-family: $font-comfortaa;
  color: $color-green;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto 64px auto;

  @include tablet {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 72px;
  }

  @include desktop {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 48px;
  }
}

.contacts__subtitle {
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 34px 0;
  max-width: 266px;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto 20px auto;
    max-width: 400px;
    text-align: left;
  }

  @include desktop {
    margin-right: 56px;
  }
}

.contacts__address {
  color: $color-black;
  font-family: $font-raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  max-width: 266px;
  gap: 12px;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    gap: 18px;
    max-width: 400px;
    margin: 0 auto;
  }

  @include desktop {
    margin-right: 56px;
  }
}

.contacts__address-wrapper {
  color: $color-black;
  display: flex;
  align-items: center;

  @include tablet {
    max-width: 310px;
  }
}

.contacts__phone,
.contacts__email {
  color: $color-black;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green;
  }
}

.contacts__text-wrapper {
  padding: 0 4px;
}

.contacts__map {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 40px;
  overflow: hidden;
}

.contacts__map-picture {
  display: flex;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.contacts__map-image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  object-fit: cover;
}

.contacts__map-iframe {
  display: flex;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;

  @include tablet {
    height: 457px;
  }

  @include desktop {
    height: 372px;
  }
}
