.main-footer {
  width: 100%;
  margin-top: auto;
  background-color: $color-blue-gray;
  padding: 0 0 20px 0;

  @include tablet {
    padding-bottom: 22px;
  }
}

.main-footer__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @include tablet {
    padding-left: 21px;
  }
}

.main-footer__logo {
  position: relative;
  text-decoration: none;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 135px;
  color: $color-green;
  margin-right: 80px;
  margin-top: 11px;

  @include tablet {
    margin-top: 22px;
    margin-right: 40px;
  }

  &:hover {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green-active;
  }

  &--current {
    pointer-events: none;
  }
}

.main-footer__logo-image {
  @include tablet {
    width: 58px;
    height: 60px;
    margin-right: 9px;
  }
}

.main-footer__logo-text {
  display: none;

  @include tablet {
    display: flex;
  }
}

.main-footer__copyrights {
  margin-left: auto;
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: $color-black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 9px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    font-size: 16px;
    line-height: 19px;
    margin-top: 39px;
  }
}

.main-footer__copyrights-logo-img {
  margin-left: 8px;

  @include tablet {
    width: 26px;
    height: 32px;
  }
}
