.main-nav {
  display: flex;
  background-color: transparent;
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 16px 0 0 0;
  list-style-type: none;
  width: 100%;

  @include tablet {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
    gap: 16px;
    background-color: transparent;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, 132px);
    gap: 28px;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__link {
  display: flex;
  width: 100%;
  padding: 15px 14px 15px 40px;
  color: $color-black;
  font-family: $font-raleway;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: $color-green-hover;
  }

  &:active {
    color: $color-green;
  }

  @include tablet {
    padding: 20px 0 20px 0;
  }

  &--current {
    pointer-events: none;
  }

  .no-js & {
    padding-left: 14px;

    @include tablet {
      padding-left: 0;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 4px;
  right: 14px;
  width: 60px;
  height: 60px;
  background-image: url("../../img/close-menu.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  display: flex;
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  &:hover {
    background-image: url("../../img/close-menu-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__toggle.main-nav__toggle--close {
  right: 21px;
  top: 4px;
  width: 60px;
  height: 60px;
  background-image: url("../../img/open-menu.svg");

  &:hover {
    background-image: url("../../img/open-menu-hover.svg");
  }
}
