.news {
  padding-top: 96px;
  padding-bottom: 64px;

  @include tablet {
    padding-top: 114px;
    padding-bottom: 110px;
  }

  @include desktop {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

.news__title {
  max-width: 560px;
  margin: 0 auto;
  font-family: $font-comfortaa;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-green;
  text-align: center;
  margin-bottom: 64px;

  @include tablet {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 72px;
  }

  @include desktop {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 98px;
  }
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 24px;

  @include desktop {
    column-gap: 24px;
  }
}

.news__card {
  position: relative;
  padding: 32px 20px 72px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 268px;
  border: 2px solid $color-green;
  border-radius: 40px;
  min-height: 400px;

  @include tablet {
    padding: 32px 36px 106px 36px;
    min-height: 494px;
    max-width: 348px;
  }

  @include desktop {
    padding-bottom: 108px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 76px;
    height: 32px;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../img/leaf-card-decor-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      width: 96px;
      height: 40px;
      background-image: url("../../img/leaf-card-decor-tablet.svg");
    }
  }
}

.news__card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 204px;
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 20px auto;
  color: $color-black;
  text-align: center;
  min-height: 68px;

  @include tablet {
    max-width: 276px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 24px;
    min-height: 100px;
  }

  @include desktop {
    max-width: 288px;
  }
}

.news__card-text {
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
  color: $color-black;

  @include tablet {
    max-width: 276px;
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop {
    max-width: 288px;
  }
}

.news__card-date {
  max-width: 120px;
  font-family: $font-raleway;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: auto 0 0 auto;
  color: $color-black;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}
