.pop-up-menu {
  display: none;
  background-color: $color-blue-gray;
  min-height: 360px;

  @include tablet {
    display: flex;
    width: 100%;
    min-height: 60px;
  }

  .no-js & {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
}

.pop-up-menu--is-open {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  box-shadow: inset 0 4px 4px rgba(88, 13, 101, 0.25);

  @include tablet {
    z-index: 0;
    position: static;
    display: flex;
  }
}
