$font-raleway: "Raleway", "Arial", sans-serif;
$font-comfortaa: "Comfortaa", "Arial", sans-serif;
$color-white: #ffffff;
$color-white-creamy: #fbfcfe;
$color-blue-gray: #f1f6fc;
$color-black: #000000;
$color-green: #0f805d;
$color-green-hover: #7bdb0a;
$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
